# fly.toml app configuration file generated for ehtt on 2023-07-09T13:47:09+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "ehtt"
primary_region = "hkg"
kill_signal = "SIGINT"
kill_timeout = "5s"
swap_size_mb = 512

[experimental]
auto_rollback = true

[env]
DB_PATH = "/db"
DB_REPO = "EhTagTranslation/Database"
PORT = "8080"

[[mounts]]
source = "ehtt_db_machines"
destination = "/db"
processes = ["app"]

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = "off"
auto_start_machines = false
min_machines_running = 1
processes = ["app"]

[http_service.concurrency]
type = "requests"
soft_limit = 20


[[http_service.checks]]
grace_period = "30s"
interval = "30s"
method = "HEAD"
timeout = "5s"
path = "/database"
