
#root
  overflow-x: hidden
  padding: 6px
  header
    display: flex
    user-select: none
    margin: 18px 12px 0
    > *
      margin: auto 6px
  section
    position: relative
    display: flex
    #form-container
      form
        user-select: none
        mat-form-field
          &.markdown mat-label::after
            font-family: 'iconfont'
            content: ' \00e6d1'
          display: block
          margin: 18px

    #preview-container
      mat-card
        margin: 18px
        mat-card-subtitle
          user-select: none
          .loading
            margin-left: 8px
      #preview-row1
        display: flex
        margin: 9px
        mat-card
          width: 50%
          margin: 9px
          
            
button, mat-card-subtitle
  .loading
    display: inline-block

.ns-option
  user-select: none
  &.mat-option
    line-height: 1.5em !important
  .ns-text
  .ns-raw
    &::before
      content: ' ('
    &::after
      content: ') '

  .ns-intro
    display: block
    color: rgba(0, 0, 0, 0.54)
    overflow: hidden
    text-overflow: ellipsis


.hide
  display: none !important

@media not all and (max-width: 720px)
  .narrow
    display: none
  section
    transform: translateX(0) !important
  #form-container
    width: 45%
  #preview-container
    width: 55%

@media (max-width: 720px)
  .wide
    display: none
  section
    width: 200%
  #form-container, #preview-container
    width: 100%