
.page-box
  position: relative
  #form-container
    width: 50%
    form
      padding: 6px
      user-select: none
      input
        user-select: auto
      mat-form-field
        display: block
        margin: 18px

  #preview-container
    background: blue
    width: 50%
    height: 100%
    position: absolute
    right: 0
    top: 0