.page-box
  max-width: 90%
  margin: 40px auto
table
  width: 100%
div.spinner
  padding: 120px
  mat-spinner
    margin: auto
.mat-toolbar
  background: white
header
  display: flex
  padding: 0 24px
