
header
  user-select: none
  font-size: 14px
  display: flex
  padding: 0 12px
  > mat-form-field, mat-paginator
    margin: 16px 12px -16px 12px
  > mat-chip-list
    margin: auto 12px
    padding-top: 12px

table
  width: 100%
  th.text
    min-width: 80px
  .mat-header-cell:not(:last-child), .mat-cell:not(:last-child)
    padding-right: 8px
  td p
    margin: 4px 0

div.spinner
  user-select: none
  padding: 120px
  mat-spinner
    margin: auto