<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Namespace</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let ns of namespace" [routerLink]="['/list', ns.key]" mat-list-item>
        <h3 matLine> {{ns.name}} </h3>
        <p matLine> {{ns.key.toUpperCase()}}</p>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item href="#">项目页</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Artist</span>
      /
      <span>列表</span>


      <span class="fill-remaining-space"></span>

      <div style="padding-top: 8px">
        <mat-form-field  appearance="legacy" floatLabel="never">
          <mat-label>搜索</mat-label>
          <input matInput placeholder="Placeholder">
          <button matSuffix mat-icon-button><mat-icon matSuffix>search</mat-icon></button>
        </mat-form-field>
      </div>

    </mat-toolbar>
    <div class="page-box">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
