<button mat-button *ngIf="user" [matMenuTriggerFor]="userMenu">
  <img [src]="user?.avatar_url" />
  <span>{{user?.name}}</span>
</button>
<ng-template #elseBlock>
  <button mat-button (click)="logIn()">登录</button>
</ng-template>


<mat-menu #userMenu="matMenu" xPosition="before">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="reviewSettings()">
      <mat-icon>settings</mat-icon>
      <span>管理链接</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>power_settings_new</mat-icon>
      <span>退出登录</span>
    </button>
  </ng-template>
</mat-menu>