@font-face {
  font-family: 'iconfont';  /* project id 1150292 */
  src: url('//at.alicdn.com/t/font_1150292_3sbk5oj9t36.eot');
  src: url('//at.alicdn.com/t/font_1150292_3sbk5oj9t36.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1150292_3sbk5oj9t36.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1150292_3sbk5oj9t36.woff') format('woff'),
  url('//at.alicdn.com/t/font_1150292_3sbk5oj9t36.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1150292_3sbk5oj9t36.svg#iconfont') format('svg');
}


.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}